extends layout

block content
  h1= title
  p Welcome to #{title}

  p GET all students :  /api/studs
  p GET a single student: /api/stud/:id
  p POST student information: /api/stud
  p UPDATE a student information: /api/stud/:id
  p DELETE a student information : /api/stud/:id

